# Ignore node_modules
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore build directories
dist
build

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore temporary files
tmp
*.tmp
*.swp

# Additonal

CONTRIBUTING.md
LICENSE
README.md
docker_installation.sh
ROADMAP.md
COMMANDS.md